* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

header {
  height: 18vh;
  background: #ddd;
  form {
    display: none;
    width: 90%;
    margin: 0 auto;
    padding-top: 12px;
    
    > div {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    button {
      margin-top: 12px;
    }
  }
  
  label {
    display: block;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  div {
    display: flex;
    width: 80%;
    margin-top: 40px;

    table {
      width: 100%;
      margin: 0 auto;

      tr {
        width: 100%;
        height: 60px;
        text-align: left;
      }

      tr:first-child {
        color: #fff;
        background: #777;
      }

      tr:nth-child(2n + 3) {
        background: #ddd;
      }

      th {
        text-align: center;
      }

      th,
      td {
        padding: 0 10px;
        width: 100px;
        font-size: 14px;
      }

      td:nth-child(1n + 3) {
        text-align: center;
      }

      td:last-child {
        width: 40px;
        font-size: 18px;
        color: red;
      }
    }
  }
}
