* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#bookshelf-header {
  display: grid;
  grid-template-columns: .25fr repeat(4, 1fr) .25fr;
  justify-items: center;
}

.book-container {
  display: grid;
  grid-template-columns: .25fr repeat(4, 1fr) .25fr;
  justify-items: center;
}
