header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #ddd;

  h1 {
    font-size: 1.6rem;
  }

  i {
    cursor: pointer;
  }
}

#projects-list-container {
  display: none;
  border-bottom: 2px solid #ddd;

  div {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 15px;

    &:hover {
      background: #ddd;
      cursor: pointer;
    }
  }
  
  #selected-project {
    color: #fff;
    background: #777;
  }
}
