header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #ddd;

  h1 {
    font-size: 1.6rem;
  }

  i {
    cursor: pointer;
  }
}

#projects-list-container {
  display: none;
  border-bottom: 2px solid #ddd;

  div {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 15px;

    &:hover {
      background: #ddd;
      cursor: pointer;
    }
  }
  
  #selected-project {
    color: #fff;
    background: #777;
  }
}

div#project-controls {
  padding: 0px;
  border-top: 2px solid #ddd;

  &:hover {
    background: #fff;
  }

  p {
    flex-basis: 33.33%;
    padding: 10px 25px 10px 15px;
    text-align: center;
    cursor: pointer;

    &:nth-child(-n+2) { border-right: 1px solid #ddd; }

    &:nth-child(2):hover,
    &:nth-child(3):hover { background: #ddd; }
    &:nth-child(1):hover { background: red; }
  }
}
