.todo-container {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  grid-template-areas: "completed title desc desc desc date date"
                       "priority notes notes notes notes notes notes ";
  row-gap: 15px;
  column-gap: 5px;
  align-items: center;
  padding: 10px;

  p {
    font-size: 0.8rem;

    &:nth-child(1) { 
      grid-area: title;
      font-weight: 600;
    }    

    &:nth-child(2) { grid-area: desc; }    
    
    &:nth-child(3) {
      grid-area: date;
      color: red;
    }

    &:nth-child(4) {
      grid-area: priority;
      text-decoration: underline;
    }
    
    &:nth-child(5) {
      grid-area: notes;
      font-style: italic;
    }

    &:nth-child(6) { grid-area: completed; }
  }
}

.todo-container:nth-child(even) {
  background: #ddd;
}

#todos-controls-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

#todos-control-btns-container {
  position: sticky;
  bottom: 0;
  display: flex;
}
