#todos-section {
  min-height: 88.3vh;
}

.todo-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.todo-info-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  grid-template-areas: "title title desc desc desc date date"
                       "priority notes notes notes notes notes notes ";
  row-gap: 15px;
  column-gap: 5px;
  align-items: center;
  padding: 10px;

  p {
    font-size: 0.8rem;

    &:nth-child(1) { 
      grid-area: title;
      font-weight: 600;
    }    

    &:nth-child(2) { grid-area: desc; }    
    
    &:nth-child(3) {
      grid-area: date;
      color: red;
    }

    &:nth-child(4) {
      grid-area: priority;
      text-decoration: underline;
    }
    
    &:nth-child(5) {
      grid-area: notes;
      font-style: italic;
    }

    &:nth-child(6) { grid-area: completed; }
  }
}

.todo-container:nth-child(even) {
  background: #ddd;
}

#todos-controls-container {
  position: fixed;
  bottom: 0;
  padding: 0px;
  width: 100%;
  display: flex;
  background: #fff;
  border-top: 2px solid #ddd;
}

#todos-control-btns-container {
  display: flex;
  width: 100%;
  text-align: center;  height: 45px;
  border-top: 1px solid #ddd;

  p {
    flex-basis: 33.33%;
    padding: 13px 15px 12px;
    cursor: pointer;

    &:nth-child(-n+2) {
      border-right: 1px solid #ddd;
    }

    &:hover {
      background: #ddd;
    }
  }
}

.todos-control-action-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  button {
    padding: 3px 8px;
  }
}
